{% extends 'base.html.twig' %}

{% block title %}Recept index{% endblock %}

{% block body %}
<div class="container-md">
    <h1>RECEPTEN</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Bereidingswijze</th>

            </tr>
        </thead>
        <tbody>
        {% for recept in recepts %}
            <tr>
                <td>{{ recept.naam }}</td>
                <td>{{ recept.bereidingswijze }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recept_new') }}">Create new</a>
</div>
{% endblock %}
