{% extends 'base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block body %}
    <h1>Recept</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recept.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ recept.naam }}</td>
            </tr>
            <tr>
                <th>Prijs_per_liter</th>
                <td>{{ recept.prijsPerLiter }}</td>
            </tr>
            <tr>
                <th>Bereidingswijze</th>
                <td>{{ recept.bereidingswijze }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recept_index') }}">back to list</a>

    <a href="{{ path('recept_edit', {'id': recept.id}) }}">edit</a>

    {{ include('recept/_delete_form.html.twig') }}
{% endblock %}
