{% extends 'base.html.twig' %}

{% block title %}Bestellingregel index{% endblock %}

{% block body %}
    <h1>Bestellingregel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bestellingregel in bestellingregels %}
            <tr>
                <td>{{ bestellingregel.id }}</td>
                <td>{{ bestellingregel.aantal }}</td>
                <td>
                    <a href="{{ path('bestellingregel_show', {'id': bestellingregel.id}) }}">show</a>
                    <a href="{{ path('bestellingregel_edit', {'id': bestellingregel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bestellingregel_new') }}">Create new</a>
{% endblock %}
