{% extends 'base.html.twig' %}

{% block title %}New Bestellingregel{% endblock %}

{% block body %}

<div class="container-md">
    <h1>Bestellingregel voor Klanten</h1>

    {{ include('bestellingregel/_form.html.twig') }}
</div>
{% endblock %}
