{% extends 'base.html.twig' %}

{% block title %}Bestelling index{% endblock %}

{% block body %}
    <h1>Bestellingen</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Klant</th>
                <th>Afhaaldatum</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for bestelling in bestellings %}
            <tr>

                <td>{{ bestelling.klant }}</td>
                <td>{{ bestelling.afhaaldatum ? bestelling.afhaaldatum|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('bestelling_show', {'id': bestelling.id}) }}">show</a>
                    <a href="{{ path('bestelling_edit', {'id': bestelling.id}) }}">edit</a>
                    {{ include('bestelling/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bestelling_new') }}">Create new</a>
{% endblock %}
