{% extends 'base.html.twig' %}

{% block title %}New Bestelling{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bestelling</h1>

    {{ include('bestelling/_form.html.twig') }}
</div>
{% endblock %}
