{% extends 'base.html.twig' %}

{% block title %}Bestelling{% endblock %}

{% block body %}
    <h1>Bestelling</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bestelling.id }}</td>
            </tr>
            <tr>
                <th>Klant</th>
                <td>{{ bestelling.klant }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ bestelling.telefoon }}</td>
            </tr>
            <tr>
                <th>Afhaaldatum</th>
                <td>{{ bestelling.afhaaldatum ? bestelling.afhaaldatum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bestelling_index') }}">back to list</a>

    <a href="{{ path('bestelling_edit', {'id': bestelling.id}) }}">edit</a>

    {{ include('bestelling/_delete_form.html.twig') }}
{% endblock %}
