{% extends 'base.html.twig' %}

{% block title %}New Fruit{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Fruit</h1>

    {{ include('fruit/_form.html.twig') }}

</div>
{% endblock %}
